* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-family: "Poppins", sans-serif;
    padding: 7px 30px;
    background-color: hsl(36, 100%, 50%);
    color: #000;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    border-radius: 5px;
}

button:disabled {
    color: #212121;
    background-color: hsl(36, 100%, 40%);
}

button:not(:disabled):hover {
    background-color: hsl(36, 100%, 55%);
}

body {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.table {
    min-width: 600px;
    width: 70%;
    border-bottom: 20px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.rod {
    width: 15px;
    height: 200px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* flex-direction: column-reverse; */
}

.rod span {
    transform: translate(calc(-50% + 7.5px));
    width: calc(10px + var(--size) * 40px);
    height: calc(20px + (var(--size) - 1) * 2px);
    border-radius: 5px;
    background-color: hsl(calc(var(--size) * 255 / 4), 50%, 50%);
}